Editing the display for #{@display_graph.name}

= semantic_form_for @display_graph, :url => update_display_graph_display_path(@display_graph), :method => :post do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :nodes, :as => :check_boxes, :collection => @display_graph.graph.nodes.ordered_by_name
    = f.input :connections, :as => :check_boxes, :collection => @display_graph.graph.connections.sort_by(&:name)
  = f.buttons

= link_to 'Show', @display_graph
\|
= link_to 'Back', display_graphs_path
