%p
  %b Name
  = @display_graph.name
%p
  %b Graph
  = @display_graph.graph.name
%p
  %b Public
  = @display_graph.public
%p
  %b Users
  %table
    %tr
      %th Name
      %th Permission level
    - @display_graph.display_graph_permissions.each do |perm|
      %tr
        %td= perm.user.name
        %td= perm.permission_level

= link_to 'Edit', edit_display_graph_path(@display_graph)
\|
= link_to 'Back', display_graphs_path
