%p
  %b Name:
  = @graph.name
%p
  %b User:
  = @graph.user.name
- if @graph.nodes.count > 0
  %p
    %h4 Nodes
    %ul
      - @graph.nodes.ordered_by_name.each do |node|
        %li= node.name
    %hr
- if @graph.connections.count > 0
  %p
    %h4 Connections
    %ul
      - @graph.connections.sort_by(&:name).each do |connection|
        %li= connection.name
    %hr

= link_to 'Edit', edit_graph_path(@project)
\|
= link_to 'Back', graphs_path
